@page
@model PrivacyModel
@{
    ViewData["Title"] = "How to set up li xi";
}
<h1>@ViewData["Title"]</h1>



<p>Add 5 random values seprate by comma at the end of URL when go back to Home tab ex: ?sources=1,2,3,4,5 will make li xi contain 1 2 3 4 5 dollars</p>

<h1>Here are the list of money</h1>

<div class="row">

    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/0.jpg"  />
            </div>
        </div>
    </div>

        <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/25cent.png"  />
                (25cent)
            </div>
        </div>
    </div>

    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/1.png"  />
            </div>
        </div>
    </div>

    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/2.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/3.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/4.png"  />
            </div>
        </div>
    </div>



    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/5.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/8.png"  />
            </div>
        </div>
    </div>

    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/10.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/20.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/50.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/100.png"  />
            </div>
        </div>
    </div>

    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/200.png"  />
            </div>
        </div>
    </div>


    <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/300.png"  />
            </div>
        </div>
    </div>

        <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/400.png"  />
            </div>
        </div>
    </div>


        <div class="thecard">
        <div class="card_inner" >
            <div class="card_face font_card">
                <img src="~/Images/500.png"  />
            </div>
        </div>
    </div>









</div>


<script>

</script>