@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .landscape {
        height: 350px;
        width: auto;
        align-content:center;
        align-items:center;
    }

    #lixi1, #lixi2, #lixi3, #lixi4, #lixi5 {
        transition: all .25s ease-in-out
    }

        #lixi1:hover, #lixi2:hover, #lixi3:hover, #lixi4:hover, #lixi5:hover {
            margin-top: -50px
        }



    .thecard {
        position: relative;
        width: 230px;
        height: 320px;
    }


    .card_inner {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        cursor: pointer;
    }

        .card_inner.is-flipped {
            transform: rotateY(180deg)
        }

    .card_face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .font_card {
    }

    .back_card {
        transform: rotateY(180deg)
    }

</style>






<div style="height:100px"> </div>
</div>

<div class="landscape row">

    <div class="thecard">
        <div class="card_inner" id="card_inner_id1">
            <div class="card_face font_card">
                <img src="~/Images/lixi.png" id="lixi1" />
            </div>
            <div class="card_face back_card" id="money1">
              
            </div>

        </div>



    </div>

    <div class="thecard">
        <div class="card_inner" id="card_inner_id2">
            <div class="card_face font_card">
                <img src="~/Images/lixi.png" id="lixi1" />
            </div>
            <div class="card_face back_card" id="money2">
               
            </div>

        </div>

    </div>

    <div class="thecard">
        <div class="card_inner" id="card_inner_id3">
            <div class="card_face font_card">
                <img src="~/Images/lixi.png" id="lixi1" />
            </div>
            <div class="card_face back_card" id="money3">
              
            </div>

        </div>

    </div>

    <div class="thecard">
        <div class="card_inner" id="card_inner_id4">
            <div class="card_face font_card">
                <img src="~/Images/lixi.png" id="lixi1" />
            </div>
            <div class="card_face back_card" id="money4">
               
            </div>

        </div>

    </div>

    <div class="thecard">
        <div class="card_inner" id="card_inner_id5">
            <div class="card_face font_card">
                <img src="~/Images/lixi.png" id="lixi1" />
            </div>
            <div class="card_face back_card" id="money5">
               
            </div>

        </div>

    </div>

</div>



<script type="text/javascript">

        var card1 = document.getElementById("card_inner_id1");
        var card2 = document.getElementById("card_inner_id2");
        var card3 = document.getElementById("card_inner_id3");
        var card4 = document.getElementById("card_inner_id4");
        var card5 = document.getElementById("card_inner_id5");

        attachFlipEvent(card1);
        attachFlipEvent(card2);
        attachFlipEvent(card3);
        attachFlipEvent(card4);
        attachFlipEvent(card5);

        var monies = [
        "Images/1.png",
        "Images/10.png",
        "Images/100.png",
        "Images/20.png",
        "Images/200.png",
        "Images/25cent.png",
        "Images/400.png",
        "Images/50.png",
        "Images/500.png",
        "Images/8.png",
        ]

        shuffle(monies);

        for(var i =0; i < monies.length;i++){
            var img = document.createElement("img");

            img.src = monies[i];

            var moneyId = 'money' + (i+1);

            var block = document.getElementById(moneyId);
            block.appendChild(img);
        }


    function attachFlipEvent(card) {
        card.addEventListener('click', function(){
             card.classList.toggle('is-flipped');
            
        })}

    function shuffle(array) {
      let currentIndex = array.length,  randomIndex;

      // While there remain elements to shuffle...
      while (currentIndex != 0) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex], array[currentIndex]];
      }

      return array;
    }
</script>